/* GENERAL STYLES */

:root {
	--main-color: #fff;
	--button-active: #188ce8;
	--background-crew: #f5f4fa;
	--h-text: #212121;
	--background-btn: #2196f3;
	--background: #2f303a;
	--link: #757575;
	--icon: #afb1b8;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	color: #212121;
	font-size: 14px;
	letter-spacing: 0.03em;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
	margin-top: 20px;
}

button {
	display: block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.link:hover,
.link:focus {
	color: var(--button-active);
}

/* HEADER */

.header-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ECECEC;
}

.header-nav-list {
	display: flex;
	align-items: center;
}

.header-group {
	display: flex;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.first-part {
	color: var(--background-btn);
}

.second-part {
	color: var(--h-text);
}

.header-nav {
	margin-right: auto;
}

.header-nav-item:not(:last-child) {
	margin-right: 50px;
}

.header-nav-link {
	display: block;
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--h-text);
}

.current {
	color: var(--background-btn);
}

.header-mail-link {
	margin-right: 50px;
}

.header-mail-link,
.header-tel-link {
	display: flex;
	align-items: center;
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--link);
}

.contacts-icon {
	margin-right: 10px;
    fill: currentColor;
}

/* HERO */

.hero {
	background-color: var(--background);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img.jpg);
	background-size: cover;
	background-position: center;
	padding: 200px 0;
	text-align: center;
}

.title {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.main-title {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-color);
	width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.order-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--main-color);
	background: var(--background-btn);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-family: "Roboto";
	padding: 10px 32px;
	margin: 0 auto;
}

/* ABOUT */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.about-title-item {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--h-text);
	margin-bottom: 10px;
}
.about-description {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--link);
}

.about-list {
	display: flex;
}

.about-list-item {
	width: 270px;
}

.about-list-item:not(:last-child),
.work-list-item:not(:last-child),
.our-team-item:not(:last-child) {
	margin-right: 30px;
}

.box-icon {
	width: 270px;
	height: 120px;
	background: #F5F4FA;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

/* WORK */

.work {
	padding-top: 0;
}

.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--h-text);
	margin-bottom: 50px;
}

.work-list {
	display: flex;
}

/* TEAM */

.our-team {
	background-color: #f5f4fa;
}

.our-team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--h-text);
	margin-bottom: 50px;
}

.our-team-list {
	display: flex;
}

.our-team-item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--main-color);
}

.team-description {
	padding-top: 30px;
	padding-bottom: 30px;
}
.name-worker {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--h-text);
	margin-bottom: 10px;
}

.position-worker {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--link);
}

.socials-list {
	display: flex;
	justify-content: center;
	margin: 16px 10px 0;
}

.socials-item {
	padding: 0 5px;
}

.socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	color: var(--icon);
	background-color: var(--main-color);
	border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
	color: var(--main-color);
	background-color: var(--background-btn);
}
.socials-icon {
	fill: currentColor;
}

.clients-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.clients-link {
	width: 170px;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--icon);
	border-radius: 4px;
	color: var(--icon);
}

.clients-link:hover,
.clients-link:focus {
	border-color: var(--background-btn);
	color: var(--background-btn);
}

.clients-icon {
	fill: currentColor;
}

/* FOOTER */

.footer {
	background-color: var(--background);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.logo-footer {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	margin-top: 54px;
	margin-bottom: 20px;
}

.second-part-footer {
	color: var(--main-color);
}

.footer-address-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--main-color);
	font-style: normal;
}

.address-list:not(:last-child) {
	margin-bottom: 9px;
}

.socials-box {
	margin-left: 70px;
}

.footer-mail-link,
.footer-tel-link {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--link);
	font-style: normal;
}

.socials-list-footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.socials-link-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	color: var(--icon);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	margin-right: 5px;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
	color: var(--main-color);
	background-color: var(--background-btn);
}

.socials-title-footer {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	color: var(--main-color);
}


/* PORTFOLIO */

.hdr {
	border-bottom: 1px solid var(--link);
}

.filter-btn-list {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.filter-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	display: flex;
	letter-spacing: 0.03em;
	color: var(--h-text);
	background: #f5f4fa;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 6px 22px;
	margin-bottom: 0px;
}

.filter-btn:hover {
	background: var(--background-btn);
	color: var(--main-color);
}

.our-work-title {
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--h-text);
	margin-bottom: 4px;
}

.our-works-list {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.result {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
}

.work-description {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--link);
}

/* 
<svg class="" width="" height="">
	<use href=""></use>
</svg> 
*/
